<h1>profile</h1>
  <p><%= current_user.firstname %> <%= current_user.lastname %></p>
  <p> put user age here after i write the method for it</p>
  <p><%= current_user.birthdate %></p>
  <a href="#"><button class="pure-button">edit</button></a>
</ul>
