<form class="pure-form" id="activity_form" action="/activities/new" method="post">
  <input type="hidden" name="activity_type" value="Challenge">
  <input type="text" name="title" placeholder="challenge name">

  <input type="text" name="description" placeholder="challenge description">
  <input type="date" name="date">
  <input class="pure-button" type="submit" value="create">
</form>

