<form action="/signup" method="post">
  <input type="text" name="firstname" placeholder="first name">
  <input type="text" name="lastname" placeholder="last name">
  <input type="text" name="email" placeholder="email">
  <input type="date" name="birthdate" placeholder="mm/dd/yyyy">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password1" placeholder="password">
  <input type="password" name="password2" placeholder="confirm password">
  <input type="submit" value="sign up">
</form>

